
<div class="allDoc">
  <img class='logo'  alt="Angular Logo" src="../assets/kinder-logo.png">

  <h1>
    Welcome to {{ title }} !
  </h1>

  <div class='input'>
      <h2>
         Entrez votre requete
      </h2>
    <input #box (keyup.enter)="onValidation(box.value, year.value)">
    <button (click)="onValidation(box.value, year.value)">Valider</button>

    <select >
      <option #selYear *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>

    <select >
      <option #selCounry *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>


  </div>

  <div class='output'>
    <div class="graph">
      <p>blablabla ceci est un graphe !</p>
    </div>

    <div class="data">
      <p>{{values}}</p>
      <p>blablabla ceci est un ensemble de données !</p>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
