
<div class="allDoc">
  <img class='logo'  alt="Angular Logo" src="../assets/kinder-logo.png">

  <h1>
    Welcome to {{ title }} !
  </h1>

  <div class='input'>
      <h2>
         Entrez votre requete
      </h2>

    <label for="yearBegin"> Début de période</label>
    <select id="yearBegin">
      <option name="selYearBegin" *ngFor="let year of years" [value]="yearBegin">{{year}}</option>
    </select>

    <label for="yearEnd"> Fin de période</label>
    <select id="yearEnd">
      <option name="selYearEnd" *ngFor="let year of years" [value]="yearEnd">{{year}}</option>
    </select>


    <label for="countries">Pays</label>
    <select id="countries" multiple>
      <option name="selCountry" *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>
    <br>
    <button (click)="sendText(selYearBegin, selYearEnd, selCountry)">Valider</button>

  </div>

  <div class='output'>


    <div id="data">
    </div>

  </div>

</div>

<router-outlet></router-outlet>
